<!DOCTYPE html>
<html>
<title>Article</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  
  <div class="jumbotron text-center p-2 mt-4">
  <h1 class="display-4"> <b> <%= @article.title %> </b> Blog </h1>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-12 text-center px-0"> 
            <%= image_tag @article.image_link, style: "width:70%", alt: 'Blog-image'  %>
            <div class="jumbotron p-5 mt-4">
                <p class='lead'> <%= @article.body %> </p>
            </div>
        </div>
    </div>

        
    <div class="row">
      <h2 class="col-4">Add a comment:</h2>

      <div class="col-8">
        
        <%= form_with( model: [ @article, Comment.new ], local: true) do |form| %>
          <p class="row">
            <%= form.text_area :body, placeholder: "enter comment", cols: 65, rows: 1 , class: "p-2 border-warning border-top-0 border-left-0 border-right-0 border-bottom rounded py-auto auto_resize_js", required: true %>
            <%= form.submit "Add comment", class:" btn btn-primary my-auto ml-auto"  %>
          </p>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <h2 class="col-4">Comments: </h2>
      <div class="col-8 p-0">
        <%= if @article.comments.empty? then "<mark>No comments!</mark>".html_safe end %> 

        <% @article.comments.each do |comment| %>
          <div class="d-flex">
            <div class="col-1 px-0 pt-1 text-center">
            <%= image_tag comment.user.image_link, class: 'img-fluid rounded-circle mr-1', style: "height: 40px; width: 40px" %>
            </div>
            <p>
              <strong> <%= comment.user.username %> </strong> <br>
              <%= comment.body %>
              </p>

            <p class="ml-auto"> 
            <% if user_signed_in? %>
              <% if current_user.id == comment.user_id %>
                <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe , [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>    
              <% end %>        
            </p>
          </div>
          
          <% end %>
      </div>
    </div>


    <% if user_signed_in? %>
      <% if @article.user_id == current_user.id %>
        <%= link_to 'Edit Blog <i class="fas fa-pen"></i>'.html_safe , edit_article_path(@article), class: "btn btn-dark" %>

        <%= link_to 'Delete Blog <i class="far fa-trash-alt"></i>'.html_safe , article_path(@article),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, 
                      class: "btn btn-dark" %>
      <% end %>
    <% end %>

  </div>
  
   
</body>
</html>
