<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<header>
    <%= image_tag 'building.jpg', height: "700px", width: "100%" %>
    <div class="centered">
        <span class="large-text-center">Code</span>
        <span class="small-text-center">ify</span>
    </div>
</header>


<div class="jumbotron text-center p-2 mt-5">
  <h1 class="display-4"> <b> Featured Blogs </b> </h1>
</div>

<% if @articles.empty? %>
    <h2 class="text-center text-muted"> Will be added soon... </h2>
<% else %>
    <div class="card-deck m-0">
        <% @articles.each do |article| %>   
                <div class="card">
                    <a href="/articles/<%= article.id %>">
                        <%= image_tag article.image_link, class: "card-img-top", height: 250 %>
                    </a>
                    
                    <div class="card-body">
                        <h2 class="card-title"> <%= article.title %> </h2>
                        <p class="card-text"> <%= article.body.slice(0,142) %><%= if article.body.length>142 then '....' end %>  </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
        <% end %> 
    </div>
<% end %>

</body>
</html>
